<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrentMiniGame" value="Kantoor3D" />
    <add key="Width" value="1024" />
    <add key="Height" value="768" />
    <add key="RestrictFrameRate" value="false" />
    <add key="MuteSounds" value="false" />
  </appSettings>
</configuration>